body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #d6d2d2;
  }

  /* these are just examples */
  h1 {
      color: #000000;
      font-size: 43px;
  }

  .container {
      max-width: 820px;
      margin: 0 auto;
    }

    
    a {
        color: rgb(243, 47, 33);
    }

    h3 {
      color: rgb(16, 87, 111);
      font-size: 24px;
    }